body
		{

			/*background-image: linear-gradient(180deg, #75B9BE 0%, #31915c 100%);*/
			position: relative;
			background-image: url("veggietales.jpg");
			background-repeat: no-repeat;
			background-size: auto;
		}

		label
		{
			color: #e9f1f7;
			font-family: "Helvetica";
			font-size: 100%;
			font-weight: 400;
		}

		.login
		{
			height: 40%;
			width: 25%;
			border: 5px solid #e9f1f7;
			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			background-color: #3fa34d;
  			border-radius: 20px;
		}

		.fields
		{
			position: absolute;
  			top: 65%;
  			left: 50%;
  			transform: translate(-50%, -50%);
		}

		.title
		{
			position: absolute;
			top:25%;
			left: 55%;
			transform: translate(-50%,-50%);
			width: 206px;
			height: 83px;
			color: #e9f1f7;
			font-family: "Helvetica";
			font-size: 250%;
			font-weight: 400;
		}

		.sub
		{
			width: 171px;
			height: 48px;
			border-radius: 15px;
			background-image: linear-gradient(180deg, #75B9BE 0%, #31915c 100%);
			transition: 0.3;
		}

		.sub:hover
		{
			background-image: linear-gradient(270deg, #59C3C3 0%, #4062BB 100%);
		}

		.butts
		{
			position: relative;
			border-radius: 5px;
			left: 50%;
			transform: translate(-50%,-50%);
		}